{% load static %}
{% load bootstrap4 %}  
{% bootstrap_css %}

<style>

     main{
         width: auto;
         height: auto;
         display: flex;
         justify-content: center;
         background: #f5f3f3;
         border-radius: 15px;
         margin: 10px;
         
         margin-top: 50px;
         margin-bottom: 50px;
         border: #f8f5f5 1px solid;
     }
     
     .target{
      display: flex;
      gap: 20px;
      justify-content:center;
      width: auto;
      height: auto;
      background: #E6D325;

     }

     .function{
         margin: 20px;
     }
 
     .title{
      display: flex;
      justify-content: center;
       border-radius: 50px;
       width: 250px;
       height: auto;
       padding: 10px;
       font-size: 10px;
       color:rgb(0, 0, 0);
       background: #E6D325;
     }
 
     .boton{
       font-size: 25px; /* Tamaño del texto del botón */
       padding: 10px 20px;
       width: auto;
       height: auto;
       font-family: 'Lobster';
       background: #44813F;
       color: white;
       display:flex; 
       justify-content: center;
       border-radius: 15px;
     }
 
 </style>
 


<!doctype html>
<html lang="en">
  <head>
  	<title>Daily farming</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">


	
		<link rel="stylesheet" href="{%static 'css/ionicons.min.css' %}">
		<link rel="stylesheet" href="{%static 'css\style_footer.css' %}">
		<link rel="stylesheet" href="{%static 'css/style_header_body.css' %}">

  </head>
  <body>
	<header>
        <nav class="navbar navbar-expand-lg ">			
            <div class="navbar-brand" >Daily Farming</div>
            <button class="navbar-toggler navbar-light bg-light" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link botones" href="#">Inicio <span class="sr-only">(actual)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link botones" href="#">Nosotros</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link botones" href="#">Log in </a>
                    </li>
					<li>
						<img class='imagen1'src="{%static '\fonts\ionicons\fonts\person-circle-outline.svg' %}" width="30" height="30" class="d-inline-block align-top" alt="User" >
					</li>

                </ul>
            </div>
        </nav>
    </header>
	<!--cuerpo de la pagina-->

    <main>

        <div style="color: black;" id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol  class="carousel-indicators">
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <!--PERSONALIZADO-->
                <div class="function">
                    <div class="title"> 
                      <h3 style="font-family: 'Lobster'; ">Introduccion</h3>
                    </div>
                </div>

                <div class="container text-center mt-4">
                  <div class="row d-flex justify-content-center ">
                      <div class="col-md-4 mb-4">
                          <div class="card">
                              <img style="border-radius: 15px;" src="{% static 'images/campo.jpg' %}" class="card-img-top mx-auto px-2 py-2" alt="Imagen 1">
                              <div class="card-body">
                                  <h5 style="background: #44813F; color:#ffff; font-family: 'Lobster';" class="card-title">Primera funcionalidad</h5>
                                  <p class="card-text">Seguimiento detallado de cada parte del proceso de siembras.</p>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-4 mb-4">
                          <div class="card">
                              <img style="border-radius: 15px;" src="{%static '/images/tractor.jpg' %}" class="card-img-top mx-auto px-2 py-2" alt="Imagen 2">
                              <div class="card-body">
                                  <h5 style="background: #44813F; color:#ffff; font-family: 'Lobster';"  class="card-title">Segunda funcionalidad</h5>
                                  <p class="card-text">la diferencia entre un cultivo de mala calidad y uno de buena calidad, con los datos que se nos proporciona.</p>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>

              </div>
              <div class="carousel-item">
                <!--PERSONALIZADO-->
                <div class="function">
                  <div class="title"> 
                    <h3 style="font-family: 'Lobster'; ">Primera funcionalidad</h3>
                  </div>
              </div>  
              <!--PERSONALIZADO-->
                <div class="row">
                    <div class="col-md-5 px-3 py-3 d-flex justify-content-center">
                      <img src="{% static 'images/campo.jpg' %}" style="border-radius: 5px;" alt="imagen">
                    </div>
                    <div class="col-md-6 px-5 py-2">
                        <h3 style="font-family: 'Open Sans', sans-serif;">Cultivos de la mejor calidad</h3>
                        <h6 style="font-family: 'Open Sans', sans-serif;">Se le brinda una herramienta innovadora que le da lo necesario para que usted haga la diferencia entre un cultivo de mala calidad y uno de buena calidad, con los datos que se nos proporciona usted podrá llevar un recuento de todos sus cultivos, siendo esta una herramienta poderosa para cuidarlos y mantener un control efectivo de cada cosa.
                          <div class="container mt-5 d-flex justify-content-center">
                            <!-- Botón de redirección -->
                            <a href="#" title="Ver" type="button" class="boton">Continue</a>
                            
                        </div>
                    </div>
                </div>                
                <div class="carousel-caption d-none d-md-block">
                </div>
              </div>
              <div class="carousel-item">

                <!--PERSONALIZADO-->
                <div class="function"> 
                  <div class="title">
                    <h3 style="font-family: 'Lobster'; ">Segunda funcionalidad</h3>
                  </div>
                </div>
                <!--PERSONALIZADO-->

                <div class="row">
                    <div class="col-md-5 px-3 py-3 d-flex justify-content-center">
                        <img src="{%static '/images/tractor.jpg' %}" style="border-radius: 5px;" alt="imagen1">
                    </div>
                    <div class="col-md-6 px-5 py-2">
                        <h3 style="font-family: 'Open Sans', sans-serif;" >Planificacion eficiente</h3>
                        <h6 style="font-family: 'Open Sans', sans-serif;">Se le brinda un instrumento para que usted pueda realizar un seguimiento muy detallado de cada parte del proceso de siembras y cosechas, por tanto, esto le ayudará a tomar decisiones optimas para sus cultivos
                          <div class="container mt-5 d-flex justify-content-center" >
                            <!-- Botón de redirección -->
                            <a href="#" title="Ver" type="button" class="boton">Continue</a>
                            
                        </div>
                    </div>
                <div class="carousel-caption d-none d-md-block">
                </div>
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>

    </main>

    <!--Cuerpo fin-->
		<footer class="footer-07">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-md-12 text-center">
						<h2 class="footer-heading"><a href="#" class="logo">Daily farming</a></h2>
						<p class="menu">
							<a href="#">Inicio</a>
							<a href="#">Nosotros</a>
							<a href="#">Log out</a>
						</p>
						<ul class="ftco-footer-social p-0">
              <li class="ftco-animate"><a href="#" data-toggle="tooltip" data-placement="top" title="Twitter"><span class="ion-logo-twitter"></span></a></li>
              <li class="ftco-animate"><a href="#" data-toggle="tooltip" data-placement="top" title="Facebook"><span class="ion-logo-facebook"></span></a></li>
              <li class="ftco-animate"><a href="#" data-toggle="tooltip" data-placement="top" title="Instagram"><span class="ion-logo-instagram"></span></a></li>
            </ul>
					</div>
				</div>
				<div class="row mt-5">
					<div class="col-md-12 text-center">
						<p class="copyright"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
					  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="ion-ios-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib.com</a>
					  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
					</div>
				</div>
			</div>
		</footer>
		

    <script src="{%static 'js/jquery.min.js' %}"></script>
    <script src="{%static 'js/popper.js' %}"></script>
    <script src="{%static 'js/bootstrap.min.js' %}"></script>
    <script src="{%static 'js/main.js' %}"></script>
  </body>
</html>

{% bootstrap_javascript jquery='full' %} 