{% load static %}

<!doctype html>
<html lang="en">
  <head>
  	<title>Daily farming</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet'>

	
		<link rel="stylesheet" href="{%static 'css/ionicons.min.css' %}">
		<link rel="stylesheet" href="{%static 'css\style_footer.css' %}">
		<link rel="stylesheet" href="{%static 'css/style_header_body.css' %}">

  </head>
  <body>
	<header>
        <nav class="navbar navbar-expand-lg ">			
            <div class="navbar-brand" >Daily Farming</div>
            <button class="navbar-toggler navbar-light bg-light" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link botones" href="#">Inicio <span class="sr-only">(actual)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link botones" href="#">Nosotros</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link botones" href="#">Log in </a>
                    </li>
					<li>
						<img class='imagen1'src="static/fonts/ionicons/fonts/person-circle-outline.svg" width="30" height="30" class="d-inline-block align-top" alt="" >
					</li>

                </ul>
            </div>
        </nav>
    </header>
	<!--cuerpo de la pagina-->
		<section class="ftco-section">
			<div class="container">
				<div class="row">
					<div class="col-md-4 cont-1">
						<div class="cont1">
							<!-- Contenedor 1 -->
							<h1 class="daily-titulo">Daily Farming</h1>
							<div id="parr-prin">
								<p>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat
								</p>
							</div>

							<div id="botoncito">
								<a class="btn btn-color" href="#" role="button">Get started</a>
							</div>

						</div>
					</div>
					<div class="col-md-6 cont-2">
						<div class="cont2">
						  <!-- Contenedor de imágenes -->
						  <div class="containerimg1">
							<img class='tractor img-fluid' src="static/images/tractor.jpg" alt="Responsive image" width="200" height="100">
							<img class='tom img-fluid' src="static/images/tom.jpg" alt="Responsive image" width="190" height="190">
						  </div>
						  <div class="containerimg2">
							<img class='campo img-fluid' src="static/images/campo.jpg" alt="Responsive image" width="190" height="110">
							<img class='gente img-fluid' src="static/images/gente.jpg" alt="Responsive image" width="220" height="150">
						  </div>
						  <!-- Contenedor encima de las imágenes -->
						  <div class="contenedor-superior">

						  </div>
						</div>
					  </div>
					  
					  
				</div>
			</div>
		</section>
		<footer class="footer-07">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-md-12 text-center">
						<h2 class="footer-heading"><a href="#" class="logo">Daily farming</a></h2>
						<p class="menu">
							<a href="#">Inicio</a>
							<a href="#">Nosotros</a>
							<a href="#">Log out</a>
						</p>
						<ul class="ftco-footer-social p-0">
              <li class="ftco-animate"><a href="#" data-toggle="tooltip" data-placement="top" title="Twitter"><span class="ion-logo-twitter"></span></a></li>
              <li class="ftco-animate"><a href="#" data-toggle="tooltip" data-placement="top" title="Facebook"><span class="ion-logo-facebook"></span></a></li>
              <li class="ftco-animate"><a href="#" data-toggle="tooltip" data-placement="top" title="Instagram"><span class="ion-logo-instagram"></span></a></li>
            </ul>
					</div>
				</div>
				<div class="row mt-5">
					<div class="col-md-12 text-center">
						<p class="copyright"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
					  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="ion-ios-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib.com</a>
					  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
					</div>
				</div>
			</div>
		</footer>
		

    <script src="{%static 'js/jquery.min.js' %}"></script>
    <script src="{%static 'js/popper.js' %}"></script>
    <script src="{%static 'js/bootstrap.min.js' %}"></script>
    <script src="{%static 'js/main.js' %}"></script>

	<script>
		// Agrega un evento de clic al botón con ID "botoncito"
		document.getElementById("botoncito").addEventListener("click", function() {
		  // Abre el modal con el ID "miModal"
		  $('#miModal').modal('show');
		});
	  </script>
	  

  </body>


<div class="modal fade" id="miModal" tabindex="-1" role="dialog" aria-labelledby="miModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title" id="miModalLabel" style="font-family: 'Lobster';">Sing out</h5>
		  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		  </button>
		</div>
		<div class="modal-body">
		  <!--INICIO-->
		  <form>
			<!-- Email input -->
			<div class="form-outline mb-4">
			  <input type="email" id="form2Example1" class="form-control" style="font-family: 'Open Sans', sans-serif;" />
			  <label class="form-label" for="form2Example1" style="font-family: 'Open Sans', sans-serif;">Email address</label>
			</div>
		  
			<!-- Password input -->
			<div class="form-outline mb-4">
			  <input type="password" id="form2Example2"  style="font-family: 'Open Sans', sans-serif;" class="form-control" />
			  <label class="form-label" for="form2Example2" style="font-family: 'Open Sans', sans-serif;">Password</label>
			</div>
		  
			<!-- Submit button --
			<button type="button" class="btn btn-primary btn-block mb-4">Sign in</button>
			<!---->
			<!-- Register buttons --
			<div class="text-center">
			  <p>Not a member? <a href="#!">Register</a></p>
			  <p>or sign up with:</p>
			  <button type="button" class="btn btn-link btn-floating mx-1">
				<i class="fab fa-facebook-f"></i>
			  </button>
		  
			  <button type="button" class="btn btn-link btn-floating mx-1">
				<i class="fab fa-google"></i>
			  </button>
		  
			  <button type="button" class="btn btn-link btn-floating mx-1">
				<i class="fab fa-twitter"></i>
			  </button>
		  
			  <button type="button" class="btn btn-link btn-floating mx-1">
				<i class="fab fa-github"></i>
			  </button>
			</div>
			<!---->
		  </form>

		  <!--FIN-->
		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-secondary" style="font-family: 'Lobster'; font-size:larger;" data-dismiss="modal">Cancel</button>
		  <a href="{% url 'prueba' %}" class="btn btn-secondary" style="font-family: 'Lobster'; background: #44813F; font-size: larger;">Login</a>
		</div>
	  </div>
	</div>
  </div>
  

</html>