<!DOCTYPE html>
<html>
    <head>
        {% load bootstrap4 %}
        {% bootstrap_css %}
        {% bootstrap_javascript jquery='full' %}
        {% load widget_tweaks %}
        {% load static %}
        <title>Cultivos</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	    <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet'>
        <link rel="stylesheet" href="{%static 'css/style_header_body.css' %}">
        <link rel="stylesheet" href="{%static 'css\style_footer.css' %}">
        <link rel="stylesheet" href="{%static 'css/ionicons.min.css' %}">
        
    </head>
    <body>
        <!-- Headet L -->
        <header>
            <nav class="navbar navbar-expand-lg ">			
                <div class="navbar-brand" >Daily Farming</div>
                <button class="navbar-toggler navbar-light bg-light" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link botones" href="#">Inicio <span class="sr-only">(actual)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link botones" href="#">Nosotros</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link botones" href="#">Log out </a>
                        </li>
                        <li>
                            <img class='imagen1'src="{%static '\fonts\ionicons\fonts\person-circle-outline.svg' %}" width="30" height="30" class="d-inline-block align-top" alt="User" >
                        </li>
    
                    </ul>
                </div>
            </nav>
        </header>

        <!-- Presentacion -->
        <div>
            <h1>Cultivos</h1>
            <p>
                Listado de todos los cultivos registrados, puede consultar su informacion, editar la informacion o eliminarla.<br>

                Siempre puede agregar nueva informacion.<br><br>

                <a href="crear" type="button" class="btn btn-primary">Nuevo Cultivo</a>
            </p>
        </div>

        <!-- Tabla para mostrar cultivos-->
        <div>
            <table class="table table-bordered table-responsive">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Tipo de alimeto</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cultivos in object_list %}
                        <tr>
                            <td>{{ cultivos.nombre }}</td>
                            <td>{{ cultivos.tipo_alimento }}</td>
                            <td><a href="detalle/{{cultivos.id}}" title="info" type="button" class="btn btn-info">detalles</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- Footer L -->
        <footer class="footer-07">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-md-12 text-center">
						<h2 class="footer-heading"><a href="#" class="logo">Daily farming</a></h2>
						<p class="menu">
							<a href="#">Inicio</a>
							<a href="#">Nosotros</a>
							<a href="#">Log out</a>
						</p>
						<ul class="ftco-footer-social p-0">
              <li class="ftco-animate"><a href="#" data-toggle="tooltip" data-placement="top" title="Twitter"><span class="ion-logo-twitter"></span></a></li>
              <li class="ftco-animate"><a href="#" data-toggle="tooltip" data-placement="top" title="Facebook"><span class="ion-logo-facebook"></span></a></li>
              <li class="ftco-animate"><a href="#" data-toggle="tooltip" data-placement="top" title="Instagram"><span class="ion-logo-instagram"></span></a></li>
            </ul>
					</div>
				</div>
				<div class="row mt-5">
					<div class="col-md-12 text-center">
						<p class="copyright"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
					  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="ion-ios-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib.com</a>
					  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
					</div>
				</div>
			</div>
		</footer>

        <script src="{%static 'js/jquery.min.js' %}"></script>
        <script src="{%static 'js/popper.js' %}"></script>
        <script src="{%static 'js/bootstrap.min.js' %}"></script>
        <script src="{%static 'js/main.js' %}"></script>
    </body>
</html>